
<header class="main_header">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}OSINT <span>Village</span>{% endif %}</a>
  <nav class="main_menu">
    <a href="{{site.baseurl}}/evento">Evento Online</a>
    <a href="{{site.baseurl}}/sobre">Sobre</a>
    <a href="{{site.baseurl}}/call-for-papers">Call For Papers</a>
<!--
    <a target="_blank" href="https://roadsec.osintvillage.org">CTF - Roadsec 2019</a>
    <a href="{{site.baseurl}}/about/" target="_blank">Sobre</a>
    <a href="{{site.baseurl}}/contact/" target="_blank">Contato</a>
-->
    
  </nav>
</header> <!-- End Section Header -->
