<section class="newsletter" id="mc_embed_signup">


  <style>
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  
  .button2 {background-color: #008CBA;} /* Blue */
  .button3 {background-color: #f44336;} /* Red */ 
  .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
  .button5 {background-color: #555555;} /* Black */

  p {
  color: white;
}

  </style>

  
  
    <h1>Sobre</h1>
    <p>Village Recon é um espaço feito pela comunidade para compartilhar palestras,demostrações,oficinas,discussões e um CTF</p>
    <p>E tudo isso com o foco em reconhecimento dentro do evento da Hacker to Hackers Conference 2019</p>
    <p>A comunidade da village consiste em um grupo de pessoas interessadas nas áreas de Reconhecimento, Coleta de informações e OSINT.</p> 
    <p>Tem como objetivo encorajar , apresentar e conscientizar sobre essas áreas.</p>
<!--    
      A meta dessa village é realizar:<br>
      Palestra (30 - 45 Minutos - Detalhes sobre a Talk)<br>
      Demonstração (20 - 30 Minutos - Demostração de ferramenta/técnica/metodologia)<br>
      Light talks (10 - 20 Minutos - Falar rápido sobre uma abordagem ou técnica)<br>
      Oficina (1 - 2 Horas - Treinamento mão na massa)<br>
      Além de um CTF com foco em Reconhecimento<br>
    </p>
  -->
  </section>